<div class="col-xs-14 col-sm-8 col-md-10 main">
    <h1 class="page-header">Sửa bài viết</h1>

    <div class="col-xs-10 col-xs-offset-4 col-sm-8 col-sm-offset-2 col-md-8">
        <form name="editTmpForm" enctype="multipart/form-data">

            <div class="form-group">
                <label>Hình đại diện:</label><br/>
                <img ng-src="./customDesign/images/post/{{image}}" width="300px">
                <input type="file" name="file" file-model="file" multiple>
            </div>

            <div class="form-group">
                <label for="postTitle">Tiêu đề:</label>
                <input type="text" class="form-control" id="postTitle" placeholder="Enter the title" ng-model="title"
                       value="{{title}}">
            </div>

            <div class="form-group">
                <label>Nội dung:</label>
                <textarea class="form-control" ckeditor="editorOptions" rows="15" ng-model="postTempContent">
                    {{postTempContent}}
                </textarea>
            </div>

            <div class="form-group">
                <label for="category">Chuyên mục:</label>
                <select name="category" id="category" class="form-control" ng-model="categoryId">
                    <option ng-repeat="cat in categories" value="{{cat.catId}}">{{cat.catName}}</option>
                </select>
            </div>

            <button type="button" class="btn btn-success" ng-click="editTmpPost(file)">Lưu</button>
            <button type="button" class="btn btn-danger" ng-click="backToShow()">Thoát</button>

        </form>
    </div>
</div>