<div class="col-xs-14 col-sm-8 col-md-10  main">
    <h1 class="page-header">Manage users</h1>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Full Name</th>
                <th>User Name</th>
                <th>Role</th>
                <th>Email</th>
                <th>Description</th>
                <th>Options</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in users" ng-hide="delDone" ng-show="editDone">
                <input type="text" ng-show="editorEnabled" value="{{user.userId}}" ng-model="user.userId" readonly/>
                <td>
                    <span ng-hide="editorEnabled">{{user.fullName}}</span>
                    <input type="text" ng-show="editorEnabled" ng-model="user.fullName"/>
                </td>
                <td>
                    <span ng-hide="editorEnabled">{{user.userName}}</span>
                    <input type="text" ng-show="editorEnabled" ng-model="user.userName"/>
                </td>
                <td>
                    <span ng-hide="editorEnabled" class="stt">{{user.roleName}}</span>
                    <input type="text" ng-show="editorEnabled" ng-model="user.roleName"/>
                </td>
                <td>
                    <span ng-hide="editorEnabled" class="stt">{{user.userEmail}}</span>
                    <input type="text" ng-show="editorEnabled" ng-model="user.userEmail"/>
                </td>
                <td>
                    <span ng-hide="editorEnabled" class="stt">{{user.userDescription}}</span>
                    <input type="text" ng-show="editorEnabled" ng-model="user.userDescription"/>
                </td>
                <td>
                    <div ng-hide="editorEnabled;delEnabled">
                        <input type="button" value="Edit" class="btn btn-primary"
                               ng-click="editorEnabled=!editorEnabled" ng-hide="editorEnabled" ng-show="editDone"/>
                        <input type="button" value="Del" class="btn btn-danger" ng-click="delEnabled=!delEnabled"
                               ng-hide="delEnabled;editorEnabled"/>
                    </div>

                    <div ng-show="editorEnabled">
                        <input type="button" value="Save" class="btn btn-success"
                               ng-click="editUser(user);editorEnabled=!editorEnabled">
                        <input type="button" value="Cancel" class="btn btn-danger"
                               ng-click="editorEnabled=!editorEnabled">
                    </div>

                    <div ng-show="delEnabled">
                        <input type="button" value="Yes" class="btn btn-success"
                               ng-click="delUser(user.userId);delEnabled=!delEnabled;delDone=!delDone">
                        <input type="button" value="Cancel" class="btn btn-danger"
                               ng-click="delEnabled=!delEnabled">
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>