<div class="container">
    <div>
        <ul>
            <li style="float:left; list-style: none;padding: 20px 20px" ng-repeat="cat in categories" ng-click="sendCatId(cat.catId)">{{cat.catName}}</li>
        </ul>
    </div>
    <div>
        <input ng-model="q" id="search" class="form-control" placeholder="Nhập dữ liệu bạn muốn tìm">
    </div>

    <!--<div class="row row-offcanvas row-offcanvas-right">-->

        <div class="col-xs-12 col-sm-12">
            <p class="pull-right visible-xs">
                <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
            </p>

            <div class="row">
                <div class="col-sm-5 col-md-5 col-lg-2" ng-repeat="post in posts | filter:q" style="float:left">
                    <h4 class="md-primary md-raised" ng-click="viewSinglePost($event,post.postId)" flex="100" flex-gt-md="auto">{{post.postTitle}}</h4>
                    <p>{{post.postDate}} - 18 Comments</p>
                    <div hide-gt-sm layout="row" layout-align="center center" flex="100">
                        <md-checkbox ng-model="customFullscreen" aria-label="Fullscreen Custom Dialog">Custom Dialog Fullscreen</md-checkbox>
                    </div>
                    <img ng-src="./customDesign/images/post/{{post.postImage}}" width="175px" ng-click="viewSinglePost($event,post.postId)">
                    <p ng-bind-html="post.postContent|truncate"></p>

                    <p><button ng-click="sendUserId(post.userId)">{{post.fullName}}</button>
                        - <button ng-click="sendCatId(post.catId)">{{post.catName}}</button></p>
                </div>
            </div>
            <!--/row-->
        </div>
        <!--/span-->
    <!--</div>-->
    <!--/row-->

</div><!--/.container-->