<div class="col-xs-10 col-sm-6 col-sm-offset-3 col-md-6">
    <h1 class="modal-header">Login</h1>

    <form role="form" method="post" name="loginForm">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Enter username"
                   ng-model="login.username" required/>

            <div ng-messages="loginForm.username.$error" class="showError">
                <div ng-message="required">This field is required!</div>
            </div>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password"
                   ng-model="login.password" required minlength="6"/>

            <div ng-messages="loginForm.password.$error" ng-if="loginForm.password.$dirty" class="showError">
                <div ng-message="required">This field is required!</div>
                <div ng-message="minlength">This field must be over 6 characters</div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="submitLogin()">Login</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </form>
</div>