<div class="col-xs-12 col-sm-6 col-md-8  main">
    <h1 class="page-header">Create Post</h1>

    <div class="col-xs-8 col-xs-offset-4 col-sm-6 col-sm-offset-2 col-md-6">
        <form role="createUser" name="registerForm">

            <div class="form-group">
                <label for="fullName">Full Name:</label>
                <input type="text" class="form-control" name="fullName" id="fullName"
                       placeholder="Please enter your full name"
                       ng-model="user.fullName" required>

                <div ng-messages="registerForm.fullName.$error" class="showError">
                    <div ng-message="required">This field is required!</div>
                </div>
            </div>

            <div class="form-group">
                <label for="userName">User Name:</label>
                <input type="text" class="form-control" name="userName" id="userName"
                       placeholder="Please enter user name"
                       ng-model="user.userName" required minlength="6">

                <div ng-messages="registerForm.userName.$error" class="showError">
                    <div ng-message="required">This field is required!</div>
                    <div ng-message="minlength">This field must be over 6 characters</div>
                </div>
            </div>

            <div class="form-group">
                <label for="userPassword">Password:</label>
                <input type="password" class="form-control" name="userPassword" id="userPassword"
                       placeholder="Please enter password"
                       ng-model="user.userPassword" required minlength="6">

                <div ng-messages="registerForm.userPassword.$error" ng-if="registerForm.userPassword.$dirty"
                     class="showError">
                    <div ng-message="required">This field is required!</div>
                    <div ng-message="minlength">This field must be over 6 characters</div>
                </div>
            </div>

            <div class="form-group">
                <label for="conPassword">Confirm Password:</label>
                <input type="password" class="form-control" name="conPassword" id="conPassword"
                       placeholder="Please confirm password"
                       ng-model="user.conPassword" required minlength="6" pw-check="userPassword">

                <div ng-messages="registerForm.conPassword.$error" ng-if="registerForm.conPassword.$error.pwCheck"
                     class="showError">
                    <div ng-message="required">This field is required!</div>
                    <div ng-message="minlength">This field must be over 6 characters</div>
                    <div ng-message="pwCheck">Your password don't match</div>
                </div>
            </div>

            <div class="form-group">
                <label for="userEmail">Email:</label>
                <input type="text" class="form-control" name="userEmail" id="userEmail"
                       placeholder="Please enter your email"
                       ng-model="user.userEmail" required ng-pattern="/^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$/">

                <div ng-messages="registerForm.userEmail.$error" class="showError">
                    <div ng-message="required">This field is required!</div>
                    <div ng-message="pattern">Not valid email</div>
                </div>
            </div>

            <div class="form-group">
                <label for="userDescription">Description:</label>
                <textarea class="form-control" rows="5" name="userDescription" id="userDescription"
                          ng-model="user.userDescription"></textarea>
            </div>

            <button type="button" class="btn btn-success" ng-click="submitRegister()">Register</button>
            <button type="button" class="btn btn-danger">Cancel</button>
        </form>
    </div>
</div>