<md-dialog aria-label="Mango (Fruit)">
        <form>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>{{title}}</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="cancel()">
                        X
                    </md-button>
                </div>
            </md-toolbar>
            <md-dialog-content>
                <div class="md-dialog-content" id="content-a">
                    <h2>{{title}}</h2>
                    <img src="./customDesign/images/post/{{image}}" width="350"/>
                    <br/>
                    <br/>
                    <p ng-bind-html="content"></p>
                    <p>
                        Tác giả:
                        <a href="#">
                            <b>{{userName}}</b>
                        </a>
                        vào ngày
                        <b>{{date}}</b>
                    </p>
                </div>

                <div class="md-dialog-content" id="content-b">
                    <h3>Bài viết liên quan</h3>

                    <div class="row">
                        <div class="col-5 col-sm-5 col-lg-4" ng-repeat="more in morePost" style="float:left" ng-controller="viewAllPostCtrl">
                            <h3 class="md-primary md-raised" ng-click="viewSinglePost($event,more.postId)" flex="100" flex-gt-md="auto">{{more.postTitle}}</h3>
                            <p>{{more.postDate}} - 18 Comments</p>
                            <div hide-gt-sm layout="row" layout-align="center center" flex="100">
                                <md-checkbox ng-model="customFullscreen" aria-label="Fullscreen Custom Dialog">Custom Dialog Fullscreen</md-checkbox>
                            </div>
                            <img ng-src="./customDesign/images/post/{{more.postImage}}" width="300px" ng-click="viewSinglePost($event,more.postId)">
                            <p ng-bind-html="more.postContent|truncate"></p>
                        </div>
                    </div>
                    <!--/row-->
                </div>

            </md-dialog-content>

            <md-dialog-actions layout="row">
                <span flex></span>
                <md-button ng-click="back('back')" style="margin-right:20px;">
                    Quay lại
                </md-button>
            </md-dialog-actions>
        </form>
</md-dialog>