<div class="col-xs-14 col-sm-8 col-md-10  main">
    <h1 class="page-header">All temporary posts</h1>

    <div class="table-responsive">
        <div class="col-xs-4">
            <label for="search">Số lượng hiển thị:</label>
            <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
        </div>

        <div class="col-xs-4">
            <label for="search">Tìm kiếm:</label>
            <input ng-model="q" id="search" class="form-control" placeholder="Nhập dữ liệu bạn muốn tìm">
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Hinh đại diện</th>
                <th>Chuyên mục</th>
                <th>Tiêu đề</th>
                <th>Ngày</th>
                <th>Tác giả</th>
                <th>Trạng thái</th>
                <th>Phiên bản</th>
                <th>Tùy chọn</th>
            </tr>
            </thead>
            <tbody>
            <tr dir-paginate="tmpPost in listPost | filter:q | itemsPerPage: pageSize" current-page="currentPage" ng-hide="delDone">
                <td>{{tmpPost.tmpPostId}}</td>
                <td><img ng-src="./customDesign/images/post/{{tmpPost.tmpPostImage}}" width="50px" height="50px"></td>
                <td>{{tmpPost.catName}}</td>
                <td>{{tmpPost.tmpPostTitle}}</td>
                <td>{{tmpPost.tmpPostDate}}</td>
                <td>{{tmpPost.fullName}}</td>
                <td class="stt">{{tmpPost.postTmpStatus}}</td>
                <td>{{tmpPost.tmpPostVersion}}</td>
                <td>
                    <div ng-hide="optionEnable">
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true" ng-click="viewSingleTmpPost($event,tmpPost.tmpPostId)"></span>
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true" ng-click="sendId(tmpPost.tmpPostId)"></span>
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"
                              ng-click="delEnabled=!delEnabled;optionEnable=!optionEnable"
                              ng-hide="delEnabled;optionEnable"></span>
                        <span ng-if="role == '1' || role == '2'" class="glyphicon glyphicon-ok-sign" aria-hidden="true" ng-click="publishEnabled=!publishEnabled;optionEnable=!optionEnable" ng-hide="optionEnable;publishEnabled"></span>
                    </div>

                    <div ng-show="delEnabled">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"
                              ng-click="delTempPost(tmpPost);delEnabled=!delEnabled;delDone=!delDone"></span>
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"
                              ng-click="delEnabled=!delEnabled;optionEnable=!optionEnable"></span>
                    </div>

                    <div ng-if="role == '1' || role == '2'" ng-show="publishEnabled" >
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"
                              ng-click="publish(tmpPost);publishEnabled=!publishEnabled;publishDone=!publishDone"></span>
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"
                              ng-click="publishEnabled=!publishEnabled;optionEnable=!optionEnable"></span>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

        <div ng-controller="paginationBarCtrl" class="other-controller">
            <div class="text-center">
                <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="dirPagination.tpl.html"></dir-pagination-controls>
            </div>
        </div>
    </div>
</div>