<div class="col-xs-14 col-sm-8 col-md-10 main">
    <h1 class="page-header">Tạo bài viết mới</h1>

    <div class="col-xs-10 col-xs-offset-4 col-sm-8 col-sm-offset-2 col-md-8">
            <form name="createNewPostForm" enctype="multipart/form-data">

                <div class="form-group">
                    <label for="postTitle">Tiêu đề:</label>
                    <input type="text" class="form-control" id="postTitle" name="postTitle" placeholder="Enter the title"
                           ng-model="field.tmpPostTitle" ng-pattern="/[^=@!#$&]{5,100}$/"/>
                    <div ng-messages="createNewPostForm.postTitle.$error" class="showError">
                        <div ng-message="pattern">Tiêu đề ít nhất phải đủ 5 kí tự</div>
                        <div ng-message="pattern">Tiêu đề không được quá 100 kí tự</div>
                        <div ng-message="pattern">Tiêu đề không được chứa kí tự đặc biệt</div>
                    </div>
                </div>

                <div class="form-group">
                    <label>Nội dung:</label>
                <textarea class="form-control" rows="15" ckeditor="editorOptions" ng-model="field.tmpPostContent"></textarea>
                </div>

                <div class="form-group">
                    <label>Hình đại diện:</label>
                    <input type="file" name="file" file-model="file" multiple>
                </div>

                <div class="form-group">
                    <label for="category">Chuyên mục:</label>
                    <select name="category" id="category" class="form-control" ng-model="field.categoryId">
                        <option ng-repeat="cat in categories" value="{{cat.catId}}">{{cat.catName}}</option>
                    </select>
                </div>

                <button type="button" class="btn btn-success" ng-click="createPost(field,file)">Đăng</button>
                <button type="button" class="btn btn-danger" ng-click="backToShow()">Thoát</button>
            </form>
    </div>
</div>