<!--<div class="navbar-right"> &lt;!&ndash;data-asm-wrapper&ndash;&gt;-->
<!--&lt;!&ndash; <div data-asm-control="pushRight"><span class="btn btn-info glyphicon glyphicon-chevron-left"></span></div>&ndash;&gt;-->

<!--</div>-->
<div class="col-sx-4 col-md-2 sidebar" style="float: right"><!--data-asm-push-right-->
    <nav>
        <ul class="nav nav-sidebar">
            <li><a class="glyphicon glyphicon-user" ui-sref="dashboard.showAllUser">   Quản lý thành viên</a></li>
            <li><a class="glyphicon glyphicon-plus" ui-sref="dashboard.create_category">   Thêm chuyên mục</a></li>
            <li><a class="glyphicon glyphicon-star" ui-sref="dashboard.show_all_category">   Quản lý chuyên mục</a></li>
        </ul>
        <ul class="nav nav-sidebar">
            <li><a class="glyphicon glyphicon-plus" ui-sref="dashboard.create_post">   Tạo bài viết mới</a></li>
            <li><a class="glyphicon glyphicon-book" ui-sref="dashboard.show_all_post">   Bài viết đang hoạt động</a></li>
            <li><a class="glyphicon glyphicon-book" ui-sref="dashboard.show_all_my_post">   Bài viết đang hoạt động của tôi</a></li>
            <li><a class="glyphicon glyphicon-book" ui-sref="dashboard.show_all_temporary_post">   Bài viết chưa được duyệt</a></li>
            <li><a class="glyphicon glyphicon-book" ui-sref="dashboard.show_all_my_temporary_post">   Bài viết chưa được duyệt của tôi</a></li>
        </ul>
    </nav>
</div>

