<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse">
                <a href="#"><img class="navbar-btn" src="customDesign/images/photo.png" style="width: 40px;height: 40px; background: #FFFFFF; border-radius: 10px"></a>
            </div>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" ui-sref="index.home">Trang chủ</a></li>
                <li><a href="#" ui-sref="index.login">Đăng nhập</a></li>
                <li><a href="#" ui-sref="index.register">Đăng ký</a></li>
                <li><a href="#" ui-sref="dashboard.home">Quản lý website</a></li>
                <li><a href="#" ui-sref="logout">Đăng xuất</a></li>
            </ul>
        </div>
    </div>
</nav>
