<div class="col-xs-14 col-sm-8 col-md-10  main">
    <h1 class="page-header">Các chuyên mục hiện có</h1>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Tên</th>
                <th>Hình đại diện</th>
                <th>Miêu tả</th>
                <th>Tùy chọn</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="cat in categories" ng-hide="delDone">
                <td ng-model="cat.catId">{{cat.catId}}</td>
                <td><img ng-src="./customDesign/images/category/{{cat.categoryImage}}" width="50px" height="50px"></td>
                <td>{{cat.catName}}</td>
                <td>{{cat.catDescription}}</td>
                <td>

                    <div ng-hide="optionEnable">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true" ng-click="sendId(cat.catId)"></span>
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"
                              ng-click="delEnabled=!delEnabled;optionEnable=!optionEnable"
                              ng-hide="delEnabled;optionEnable"></span>
                    </div>

                    <div ng-show="delEnabled">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"
                              ng-click="delCategory(cat);delEnabled=!delEnabled;delDone=!delDone"></span>
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"
                              ng-click="delEnabled=!delEnabled;optionEnable=!optionEnable"></span>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>