table tr td.stt {
    text-transform: lowercase;
}

table tr td.stt:first-letter {
    text-transform: uppercase;
}

.showError div {
    color: red;
}

/*dialog*/
.dialogdemoBasicUsage #popupContainer {
    position: relative; }
.dialogdemoBasicUsage .footer {
    width: 100%;
    text-align: center;
    margin-left: 20px; }
.dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
    font-size: 0.8em;
    margin-top: 50px; }

.md-dialog-content{
    float: left;
    padding: 20px;
}
#content-a{
    float: left;
    border: 1px solid;
}
#content-a img{
    text-align: center;
    margin: 0px auto;
}
#content-b{
    float: left;
}
.display-content{
    float: right;
}

/*pagination*/
.my-controller {
    border: 1px solid #fcc;
    padding: 5px;
    margin: 3px;
}
.my-controller small {
    color: #c99;
}
.other-controller {
    border: 1px solid #ccf;
    padding: 5px;
    margin: 3px;
}
.other-controller small {
    color: #99c;
}

.warning {
    font-weight: bold;
    color: red;
}