<div class="col-xs-14 col-sm-8 col-md-10  main">
    <h1 class="page-header">Tất cả bài viết đang hoạt động</h1>

    <div class="table-responsive">
        <div class="col-xs-4">
            <label for="search">Số lượng hiển thị:</label>
            <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
        </div>

        <div class="col-xs-4">
            <label for="search">Tìm kiếm:</label>
            <input ng-model="q" id="search" class="form-control" placeholder="Nhập dữ liệu bạn muốn tìm">
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Hình đại diện</th>
                <th>Chuyên mục</th>
                <th>Tiêu đề</th>
                <th>Ngày</th>
                <th>Tác giả</th>
                <th>Trạng thái</th>
                <th>Phiên bản</th>
                <th>Tùy chọn</th>
            </tr>
            </thead>
            <tbody>
            <tr dir-paginate="post in posts | filter:q | itemsPerPage: pageSize" current-page="currentPage" ng-hide="delDone">
                <td>{{post.postId}}</td>
                <td><img ng-src="./customDesign/images/post/{{post.postImage}}" width="50px" height="50px"></td>
                <td>{{post.catName}}</td>
                <td>{{post.postTitle}}</td>
                <td>{{post.postDate}}</td>
                <td>{{post.fullName}}</td>
                <td class="stt">{{post.postStatus}}</td>
                <td>{{post.postVersion}}</td>
                <td>
                    <div ng-hide="optionEnable">
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true" ng-click="viewPost($event,post.postId)"></span>
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true" ng-click="sendId(post.postId)"></span>
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"
                              ng-click="delEnabled=!delEnabled;optionEnable=!optionEnable"
                              ng-hide="delEnabled;optionEnable"></span>
                    </div>

                    <div ng-show="delEnabled">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"
                              ng-click="delPublishedPost(post);delEnabled=!delEnabled;delDone=!delDone"
                              ng-hide="editorEnabled"></span>
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"
                              ng-click="delEnabled=!delEnabled;optionEnable=!optionEnable"></span>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

        <div ng-controller="paginationBarCtrl" class="other-controller">
            <div class="text-center">
                <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="dirPagination.tpl.html"></dir-pagination-controls>
            </div>
        </div>
    </div>
</div>