<md-dialog aria-label="Mango (Fruit)">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{title}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    X
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <h2>{{title}}</h2>
                <img src="./customDesign/images/post/{{image}}" width="350">
                <br/>
                <br/>
                <p ng-bind-html="postTempContent"></p>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
                <p>
                    Tác giả: <b>{{user}}</b>
                    vào ngày <b>{{date}}</b>
                    trong mục <b>{{categoryName}}</b>
                </p>
            <span flex></span>
            <md-button ng-click="back('back')" style="margin-right:20px;">
                Đóng
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>