<div class="col-xs-14 col-sm-8 col-md-10  main">
    <h1 class="page-header">Tạo chuyên mục mới</h1>

    <div class="col-xs-10 col-xs-offset-4 col-sm-6 col-md-3">

        <form name="createCategoryForm">

            <div class="form-group">
                <label>Hình đại diện:</label>
                <img ng-src="./customDesign/images/category/{{catImage}}" width="300px">
                <input type="file" name="file" file-model="file" multiple>
            </div>

            <div class="form-group">
                <label>Tên chuyên mục:</label>
                <input type="text" class="form-control" name="categoryName" ng-model="catName"
                       ng-pattern="/[^=@!#$&]{5,100}$/" required value="{{catName}}"/>
                <div ng-messages="createCategoryForm.categoryName.$error" class="showError">
                    <div ng-message="pattern">Tiêu đề ít nhất phải đủ 5 kí tự</div>
                    <div ng-message="pattern">Tiêu đề không được quá 100 kí tự</div>
                    <div ng-message="pattern">Tiêu đề không được chứa kí tự đặc biệt</div>
                    <div ng-message="required">Tiêu đề không được để trống</div>
                </div>
            </div>
            <div class="form-group">
                <label>Miêu tả:</label>
                <textarea class="form-control" name="categoryDescription" rows="10" id="postContent" ng-model="catDes"
                          ng-pattern="/[^=@!#$&]{15,200}$/" required>{{catDes}}</textarea>
                <div ng-messages="createCategoryForm.categoryDescription.$error" class="showError">
                    <div ng-message="pattern">Hãy miêu tả chuyên mục với ít nhất 15 kí tự</div>
                    <div ng-message="pattern">Miêu tả nhiều nhất chỉ được 200 kí tự thôi bạn ơi</div>
                    <div ng-message="pattern">Không được có kí tự đặc biệt</div>
                    <div ng-message="required">Không được để trống trường này</div>
                </div>
            </div>

            <button type="button" class="btn btn-success" ng-click="editCat(file)">Xong</button>
            <button type="reset" class="btn btn-danger">Viết lại</button>
        </form>
    </div>
</div>

