<md-dialog aria-label="Mango (Fruit)" ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Hãy chọn chuyên mục bạn quan tâm</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    X
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <ul ng-repeat="cat in categories" style="list-style: none;float: left;padding: 10px 10px;">
                    <li ng-click="">{{cat.catName}}</li>
                    <li><a rel="#"><img ng-src="./customDesign/images/category/{{cat.categoryImage}}" width="100px" height="100px" ng-click=""/></a></li>
                </ul>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="back('back')" style="margin-right:20px;">
                Quay lại
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>